
<div class="page-footer" style="background: #344A76;
  font-size: 13px;
  padding: 12px 0px 12px 12px;
    margin-left: 20px;
    width: 1160px;
    position:fixed;
    bottom:0;">
  <div class="container">
    <div style="text-align: left;
      color: #F5F5F5">
      <a href="http://www.miitbeian.gov.cn" target="_blank" style="color: white">
					沪ICP备17011715号</a>
        &nbsp;&nbsp;&nbsp;&nbsp;Copyright  2018 版权所有 BSL-3实验室 复旦大学上海医学院，Powered By <a style="color: white;
				" href="http://www.yfbio.cn" target="_blank">
				VGsoft Team, 上海盈飞生物科技有限公司</a></div>
  </div>
</div>
