<style>
  .link:hover{
    text-decoration:none;
  }
</style>

<div class="page-header" style="height: 150px">
  <div class="row">
    <div class="col-sm-offset-1 col-md-9">
      <h4 style="color: #F5F5F5;
        font-size: 36px;
        margin-bottom: 0;
        margin-top: 20px;
        text-shadow: 2px 2px 0 #555"><a href="@routes.AdminController.loginBefore()" target="_blank" style="color: white" class="link">致病性病原微生物数据测试</a>
      </h4>
    </div>
    <div class="col-sm-offset-4 col-md-9">
      <h4 style="color: #F5F5F5;
        font-size: 28px;
        margin-bottom: 10px;
        text-shadow: 2px 2px 0 #555">
				复旦BSL-3实验室
      </h4>
    </div>
  </div>



</div>